<div class="row large-collapse text-center">
    {{#if theme_settings.vendor1-image}}
    <div class="vendor-wrap">
    <span class="vendor-box-top">featured brands</span>
    <ul class="vendor-box">
        {{#if theme_settings.vendor1-image}}
        <li><a href="{{ theme_settings.vendor1-link }}">
            <img src="/product_images/uploaded_images/{{ theme_settings.vendor1-image }}" alt=""></a>
        </li>
        {{/if}}
        {{#if theme_settings.vendor2-image}}
        <li><a href="{{ theme_settings.vendor2-link }}">
            <img src="/product_images/uploaded_images/{{ theme_settings.vendor2-image }}" alt=""></a>
        </li>
        {{/if}}
        {{#if theme_settings.vendor3-image}}
        <li><a href="{{ theme_settings.vendor3-link }}">
            <img src="/product_images/uploaded_images/{{ theme_settings.vendor3-image }}" alt=""></a>
        </li>
        {{/if}}
        {{#if theme_settings.vendor4-image}}
        <li><a href="{{ theme_settings.vendor4-link }}">
            <img src="/product_images/uploaded_images/{{ theme_settings.vendor4-image }}" alt=""></a>
        </li>
        {{/if}}
        {{#if theme_settings.vendor5-image}}
        <li><a href="{{ theme_settings.vendor5-link }}">
            <img src="/product_images/uploaded_images/{{ theme_settings.vendor5-image }}" alt=""></a>
        </li>
        {{/if}}
        {{#if theme_settings.vendor6-image}}
        <li><a href="{{ theme_settings.vendor6-link }}">
            <img src="/product_images/uploaded_images/{{ theme_settings.vendor6-image }}" alt=""></a>
        </li>
        {{/if}}
    </ul> 
</div>
{{/if}}
</div>
