




<!-- <div class="mid-banner outer transition">
        <h1>the transitional collection</h1>
        <div class="row lightness text-center">
            <div class="column large-4">
            <a href="/categories/">
                <div class="hollow">
                    
                    <span>ceiling lights</span>
                
                </div>
                </a>
            </div>
            <div class="column large-4">
            <a href="/chandeliers/">
                <div class="hollow">
                    
                    <span>chandeliers</span>
                
                </div>
                </a>
            </div>
            <div class="column large-4">
            <a href="/ceiling-fans/">
                <div class="hollow">
                    
                    <span>ceiling fans</span>
                
                </div>
                </a>
            </div>
    </div>
</div> -->
<!-- <div class="text-center">
    <div class="row darkness">
        <div class="column large-4">
            <a href="/contemporary-lighting/">
                <div class="hollow">
                    <span>
               
                    <p class="bold">contemporary lighting</p>
                    <p>Replace this content with your own content.</p>
                
                </span>
                </div>
            </a>
        </div>
        <div class="column large-4">
            <a href="/traditional-lighting/">
                <div class="hollow">
                    <span>
                
                    <p class="bold">traditional lighting</p>
                    <p>Replace this content with your own content.</p>
               
                </span>
                </div>
            </a>
        </div>
        <div class="column large-4">
            <a href="/rustic-lighting/">
                <div class="hollow">
                    <span>
               
                    <p class="bold">country/rustic lighting</p>
                    <p>Replace this content with your own content.</p>
                
                </span>
                </div>
            </a>
        </div>
        <div class="column large-4">
            <a href="/commercial-lighting/">
                <div class="hollow">
                    <span>
              
                    <p class="bold">commercial lighting</p>
                    <p>Replace this content with your own content.</p>
               
                </span>
                </div>
            </a>
        </div>
        <div class="column large-4">
            <a href="/kids-lighting/">
                <div class="hollow">
                    <span>
                    <p class="bold">kids lighting</p>
                    <p>Replace this content with your own content.</p>
               
                </span>
                </div>
            </a>
        </div>
        <div class="column large-4">
            <a href="/finish/">
                <div class="hollow">
                    <span>
                    <p class="bold">shop by finish</p>
                    <p>Replace this content with your own content.</p>
               
                </span>
                </div>
            </a>
        </div>
    </div> -->
    
<!-- <div class="product-modal"> -->
